node_modules/

/clientside/build

.DS_store
/clientside/.env.local
/clientside/.env.development.local
/clientside/.env.test.local
/clientside/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*